:root {
    --brand-white:#ffffff;
    --brand-blue:#022257;
    --title-text:var(--brand-white);
    --primary-text:var(--brand-white);
}

.navbar {
    background-color: var(--brand-blue);
    color: var(--primary-text);
    border-radius: 0;
}